* {
    -fx-primary-color: #0309FD;
    -fx-secondary-color: #0385FC;

    -fx-focus-color: -fx-secondary-color;
}

.tab-pane {
    -fx-background-image: url("backg.png");
    -fx-background-size: cover; /* or contain, depending on your needs */
    -fx-background-repeat: no-repeat;
}

.tab-header-area .tab-header-background {
    -fx-background-color: linear-gradient(-fx-primary-color,-fx-secondary-color);
}
.tab-pane .tab:selected {
    -fx-background-color: linear-gradient(#0385FC,#04aea9);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}
.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 0 10 0 10;
}
.tab-pane:top *.tab-header-area {
    -fx-padding: 0 30 0 30;
}

.outline.label .text {
    -fx-stroke: blue;
}

.tab-pane {
    -fx-background-color: transparent;
    -fx-tab-min-width: 100px;
    -fx-tab-min-height: 50px;
    -fx-tab-max-height: 50px;
}

.tab-pane .tab {
    -fx-background-color: transparent;
}
.tab-pane:focused .tab-header-area .headers-region .tab:selected .focus-indicator {
    -fx-border-width: 0;
    -fx-border-insets: 0 20 0 20;
    -fx-border-radius: 0;
}

.add-button{
    -fx-background-color: linear-gradient(-fx-primary-color,-fx-secondary-color);
    -fx-text-fill: white;
}
